In [1]:
import time
import pandas as pd
import numpy as np

In [165]:
CITY_DATA = {'chicago': 'chicago.csv',
             'new york city': 'new_york_city.csv',
             'washington': 'washington.csv'}

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    cities = ('chicago', 'new york city', 'washington')
    months = ('all', 'january', 'february', 'march', 'april', 'may', 'june')
    days = ('all', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    city = input("Enter the name of the city to analyze (chicago, new york city, washington) : ").lower()
    while city not in cities:
        print("Enter a Valid Name!!")
        city = input("Enter the name of the city to analyze (chicago, new york city, washington) : ").lower()

    # TO DO: get user input for month (all, january, february, ... , june)
    month = input(
        "Enter the name of the month to filter by, or all to apply no month filter (all, january, february, ... , june) : ").lower()
    while month not in months:
        print("Enter a Valid Name!!")
        month = input(
            "Enter the name of the month to filter by, or all to apply no month filter (all, january, february, ... , june) : ").lower()

    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)
    day = input(
        "Enter the name of the day of week to filter by, or all to apply no day filter (all, monday, tuesday, ... sunday) : ").lower()
    while day not in days:
        print("Enter a Valid Name!!")
        day = input(
            "Enter the name of the day of week to filter by, or all to apply no day filter (all, monday, tuesday, ... sunday) : ").lower()

    print('-' * 40)
    return city, month, day

city,month,day = get_filters()

Hello! Let's explore some US bikeshare data!
Enter the name of the city to analyze (chicago, new york city, washington) : new york city
Enter the name of the month to filter by, or all to apply no month filter (all, january, february, ... , june) : all
Enter the name of the day of week to filter by, or all to apply no day filter (all, monday, tuesday, ... sunday) : all
----------------------------------------

In [166]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])

    df['Start Time'] = pd.to_datetime(df['Start Time'])

    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()

    if month != 'all':
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
        df = df[df['month'] == month]

    if day != 'all':
        df = df[df['day_of_week'] == day.title()]

    return df

In [167]:
df = load_data(city, month, day)

In [168]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0,6,Sunday
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0,5,Thursday
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0,3,Wednesday
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0,5,Monday
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0,6,Wednesday

In [169]:
df.describe()

         Unnamed: 0  Trip Duration     Birth Year          month
count  3.000000e+05   3.000000e+05  271780.000000  300000.000000
mean   3.407026e+06   8.996842e+02    1978.254309       4.072557
std    1.965617e+06   5.710016e+03      11.848045       1.660916
min    3.300000e+01   6.100000e+01    1885.000000       1.000000
25%    1.707416e+06   3.680000e+02    1970.000000       3.000000
50%    3.405756e+06   6.090000e+02    1981.000000       4.000000
75%    5.108762e+06   1.054000e+03    1988.000000       6.000000
max    6.816152e+06   2.155775e+06    2001.000000       6.000000

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  datetime64[ns]
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      299308 non-null  object
 7   Gender         270791 non-null  object
 8   Birth Year     271780 non-null  float64
 9   month          300000 non-null  int64
 10  day_of_week    300000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 25.2+ MB

In [171]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    print("The most common month : ", df['month'].mode()[0])

    # TO DO: display the most common day of week
    print("The most common day of week : ", df['day_of_week'].mode()[0])

    # TO DO: display the most common start hour
    print("The most common start hour : ", df['Start Time'].dt.hour.mode()[0])

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-' * 40)

In [172]:
time_stats(df)

Calculating The Most Frequent Times of Travel...

The most common month :  6
The most common day of week :  Wednesday
The most common start hour :  17

This took 0.1280040740966797 seconds.
----------------------------------------

In [173]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    print("The most commonly used start station : ", df['Start Station'].mode()[0])

    # TO DO: display most commonly used end station
    print("The most commonly used end station : ", df['End Station'].mode()[0])

    # TO DO: display most frequent combination of start station and end station trip
    print("The most most frequent combination of start station and end station trip : \nStart Station : ", df[["Start Station","End Station"]].mode()['Start Station'][0],"\nEnd Station : ",df[["Start Station","End Station"]].mode()['End Station'][0])

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-' * 40)

In [174]:
station_stats(df)

Calculating The Most Popular Stations and Trip...

The most commonly used start station :  Pershing Square North
The most commonly used end station :  Pershing Square North
The most most frequent combination of start station and end station trip :
Start Station :  Pershing Square North
End Station :  Pershing Square North

This took 0.2799687385559082 seconds.
----------------------------------------

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  datetime64[ns]
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      299308 non-null  object
 7   Gender         270791 non-null  object
 8   Birth Year     271780 non-null  float64
 9   month          300000 non-null  int64
 10  day_of_week    300000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 25.2+ MB

In [176]:
Max = df.groupby(['Start Station', 'End Station']).count().max()[0]
data = df.groupby(['Start Station', 'End Station']).count().reset_index()
start_Station = data[data["User Type"] == Max]["Start Station"].values[0]
end_Station = data[data["User Type"] == Max]["End Station"].values[0]
print("The most most frequent combination of start station and end station trip : \nStart Station : ", start_Station,"\nEnd Station : ", end_Station)

The most most frequent combination of start station and end station trip :
Start Station :  E 7 St & Avenue A
End Station :  Cooper Square & E 7 St

In [177]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    print("The total travel time : ", df["Trip Duration"].sum())
    # TO DO: display mean travel time
    print("The mean travel time : ", df["Trip Duration"].mean())

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-' * 40)

In [178]:
trip_duration_stats(df)

Calculating Trip Duration...

The total travel time :  269905248
The mean travel time :  899.68416

This took 0.0 seconds.
----------------------------------------

In [179]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    print("The counts of user types :")
    userTypes = df['User Type'].value_counts()
    for userType in userTypes.index:
        print(userType, ":", userTypes[userType])

    # TO DO: Display counts of gender
    try:
        print("The counts of gender :")
        genderTypes = df['Gender'].value_counts()
        for genderType in genderTypes.index:
            print(genderType, ":", genderTypes[genderType])
    except:
        print("No Gender Data!!!")

    # TO DO: Display earliest, most recent, and most common year of birth
    try:
        print("The earliest year of birth :",df["Birth Year"].min())
        print("The most recent year of birth :", df["Birth Year"].max())
        print("The most common year of birth :", df["Birth Year"].mode()[0])
    except:
        print("No Birth Year Data!!!")

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-' * 40)

In [180]:
user_stats(df)

Calculating User Stats...

The counts of user types :
Subscriber : 269149
Customer : 30159
The counts of gender :
Male : 204008
Female : 66783
The earliest year of birth : 1885.0
The most recent year of birth : 2001.0
The most common year of birth : 1989.0

This took 0.12004494667053223 seconds.
----------------------------------------